# Node modules
node_modules/
# Env files
.env
.env.development
.env.production

# Service account / secret keys (manually upload to Render.com or Google Cloud only)
*.json
/etc/secrets/
# Node
secrets/
*.log

# Ignore secret keys (never push)
sa-key.json
mogibaai-storage-key.json

# VSCode or JetBrains configs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
